/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


$primary   = #1976D2
$secondary = #26A69A
$accent    = #9C27B0

$dark      = #1D1D1D

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037


@import '~@quasar/extras/roboto-font/roboto-font.css'
@import '~@quasar/extras/material-icons/material-icons.css'

@import '~quasar/src/css/variables.styl';
@import "~quasar/src/css/index.styl";

.home .hero img
  max-width 450px!important

h1
  font-size: 2rem
  margin-bottom: 0

h2 
  font-size: 1.5rem

h3
  font-size: 1.2rem

h4 
  font-size: 1.0rem
  line-height: 1.0rem
  margin: 0 !important
  padding: 0 !important